@import url(../reset.css);
@import url(../global.css);

/* ========= First Section */
#content.section-frame  { padding: 120px 0 80px; }
#content .section-container,
#content .slideshow-container,
#content .slideshow-item {
    align-items: center;
    flex-direction: column;
}

    .section-container header { text-align: center; }

    .slideshow-item { width: 80%; }

        .slideshow-item img {
            max-width: 700px;
            width: 100%;
            height: 350px;
            object-fit: cover;
        }

        .slideshow-item p {
            text-align: center;
            font-size: 1.2rem;
            width: 80%;
        }

label {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--dark-text-color);
    margin-bottom: 15px;
}

    label[for="ipt-cats"] {
        text-align: center;
        align-self: center;
    }

    label[for="ipt-cats"] select {
        width: 100% !important;
    }