@import url(../reset.css);
@import url(../global.css);

/* ========================= Primeira Seção: Sobre o Café */
/* Coluna de Texto - Conteúdo */
#first-section .content-col {
    width: 600px;
    margin-right: 1rem;
}

.buttons {
    justify-content: flex-start;
    gap: 60px;
}

/* Coluna de Imagem */
#first-section .image-col {
    max-width: 420px;
    height: 650px;
    box-shadow: 4px 2px 6px rgba(0, 0, 0, .16);
}

.image-col .photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Hover-Animation */
#first-section .image-col { transition: transform .4s ease-out; }
#first-section .image-col:hover { transform: translateY(-2rem); }

/* ========================= Segunda Seção: Sobre o Estabelecimento */
#second-section {
    background: var(--marrom-escuro);
    padding-top: 160px;
    margin-top: -100px;
}

#second-section .section-caption,
#second-section .section-about {
    color: var(--light-text-color);
}

#second-section .image-col {
    max-width: 500px;
    width: 500px;
    height: 650px;
}

#second-section .content-col {
    max-width: 520px;
    margin-left: 15px;
}

/* ========================= Terceira Seção: Nossos Produtos */
#third-section {
    background: var(--bege-claro);
    padding: 120px 0;
    margin-top: -50px;
}

#third-section .section-header { text-align: center; }

.image-grid {
    display: grid;
    grid: 40% 60% / 40% 35% 25%;
}

.grid-item { margin: 10px; }
.grid-item img {
    object-fit:cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid-item-01 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-item-04 {
    grid-column-start: 2;
    grid-column-end: 4;
}

#fourth-section{
    margin-top: -100px;
    margin-bottom: -100px;
}

.carousel-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    margin: 10%;
}
.section-card{
    margin-left: 5%;
    flex-basis: 33%;
}
.card-text{
    border: 4px solid var(--bege-escuro);
    background-color: var(--marrom-escuro);
    color: var(--bege-claro);
    text-align: center;
}
.card-text h2{
    width: 70%;
    margin: 0 auto;
    color: var(--bege-escuro);
    border-bottom: 2px solid var(--bege-escuro);
}
.section-card:first-child{
    margin-left: 0;

}
.section-card img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}