@import url(../reset.css);
@import url(../global.css);

/* ========================= Primeira Seção: Sobre o Café */
/* Coluna de Texto - Conteúdo */
#first-section .content-col {
    width: 600px;
    margin-right: 1rem;
}

.buttons {
    justify-content: flex-start;
    gap: 60px;
}

/* Coluna de Imagem */
#first-section .image-col {
    max-width: 420px;
    height: 650px;
    box-shadow: var(--basic-box-shadow);
}

.image-col .photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Hover-Animation */
#first-section .image-col { transition: transform .4s ease-out; }
#first-section .image-col:hover { transform: translateY(-2rem); }

/* ========================= Segunda Seção: Sobre o Estabelecimento */
#second-section {
    background: var(--marrom-escuro);
    padding-top: 160px;
    margin-top: -100px;
}

#second-section .carousel { box-shadow: var(--basic-box-shadow); }
#second-section .section-caption,
#second-section .section-about {
    color: var(--light-text-color);
}

#second-section .image-col {
    max-width: 500px;
    width: 500px;
    height: 650px;
}

#second-section .content-col {
    max-width: 520px;
    margin-left: 15px;
}

/* ========================= Terceira Seção: Nossos Produtos */
#third-section {
    background: var(--bege-claro);
    margin-top: -50px;
}

#third-section .section-header,
#fourth-section header { text-align: center; }

.image-grid {
    display: grid;
    grid: 40% 60% / 40% 35% 25%;
}

.grid-item {
    margin: 10px;
    box-shadow: var(--basic-box-shadow);
}

.grid-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid-item-01 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-item-04 {
    grid-column-start: 2;
    grid-column-end: 4;
}

/* ========================= Quarta Seção: Nossos Gatinhos */
#fourth-section { padding: 120px 0; }
#fourth-section .section-container { max-width: 1200px; }
#fourth-section header + .divider-horizontal { margin: 15px auto 35px; }

/* ======= Posicionamento do Background Personalizado */
#carousel-fourth-section { position: relative; }
#carousel-fourth-section .semi-background {
    position: absolute;
    top: 30px;
    left: calc((100vw - 1200px) / -2);
    height: 320px;
    width: 100vw;
    background: var(--marrom-escuro);
    z-index: -1;
}

/* ======= Reposicionamento dos Indicadores do Carousel */
#carousel-fourth-section .carousel-control-prev,
#carousel-fourth-section .carousel-control-next {
    top: 6%;
    bottom: 0;
    width: 60px;
    max-height: 320px;
    color: black;
    z-index: 1000;
}

#carousel-fourth-section .carousel-control-prev { left: -60px; }
#carousel-fourth-section .carousel-control-next { right: -60px; }

.carousel-container {
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* ======= Estilização dos Cards */
.section-card {
    width: 380px;
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: var(--basic-text-shadow);
}

.section-card img {
    width: 380px;
    height: 380px;
    object-fit: cover;
}

.card-text {
    width: 100%;
    border: 4px solid #F1D05C;
    text-align: center;
    padding: 1rem 1.5rem;
    background-color: var(--marrom-cafe);
}

.card-text .section-header {
    color: #F1D05C;
    font-size: 28px;
    margin: 0;
}

.card-text .section-about {
    color: var(--light-text-color);
    text-transform: capitalize;
    font-size: 24px;
    margin: 0;
}

.card-text .divider-horizontal {
    width: 260px;
    margin: 2px auto 10px;
    border-color: #F1D05C;
}