/* ========================= Utilidades */
/* =========== Section Presets */
.section-container {
    max-width: var(--width-container-desktop);
    background: inherit;
    margin: 0 auto;
    text-shadow: var(--basic-text-shadow);
}

.section-frame {
    width: 100%;
    padding-top: 120px;
    background: var(--bege-claro);
}

.section-header {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--bege-escuro);
    margin-bottom: 15px;
}

.section-caption {
    font-size: 72px;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--dark-text-color);
}

.section-about {
    font-size: 24px;
    font-weight: 500;
    color: var(--dark-text-color);
    margin-bottom: 50px;
}

/* =========== Flex Classes */
.flex, .flex-reverse {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.flex-reverse { flex-direction: row-reverse; }

/* =========== Estilização dos Botões */
.btnr, .primary-btn, .secondary-btn {
    display: block;
    width: 250px;
    height: 70px;
    padding: 17px 15px;
    font-size: 24px;
    border-radius: 4px;
    text-align: center;
    transition: all .2s ease-in;
}

.primary-btn {
    background: var(--marrom-cafe);
    color: var(--cinza-claro);
    text-decoration: none;
}

.secondary-btn {
    background: inherit;
    text-decoration: underline;
    color: var(--marrom-cafe);
}

/* Hover-Animation */
.primary-btn:hover { color: var(--cinza-claro); }
.secondary-btn:hover { color: var(--marrom-cafe); }
.btnr:hover {
    opacity: .8;
    transform: translateY(-6px);
}

/* =========== Form Components */
.modal-content .divider-horizontal {
    width: 60%;
}

.frm-content {
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
}

    .frm-content fieldset {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
    }

        fieldset legend {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 0.8rem;
        }

            fieldset legend i { font-size: .8rem; vertical-align: middle; }

        .frm-content fieldset label {
            width: 100%;
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            margin-left: .5rem;
            font-size: 1.1rem;
            gap: .3rem;
        }

            .frm-content label .frm-input {
                width: calc(100% - 0.5rem);
                padding: .4rem .6rem;
                border-radius: .3rem;
                font-size: 1rem;
                transition: all .35s;
            }

            .frm-input:valid { border: 1px solid #48D97A; }
            .frm-input:invalid { border: 1px solid tomato; }
            .frm-input:focus {
                outline: none;
                border: 1px solid #140028;
            }

            /* ========== Validation Label */
            .is-invalid, .is-wednesday {
                max-height: 1rem;
                font-size: .8rem;
                color: tomato;
                text-shadow: 0 0 8px rgba(0, 0, 0, .4);
                font-weight: bold;
                transition: all .35s;
                opacity: 1;
            }

            .frm-input:valid ~ .is-invalid,
            .is-wednesday.inactive {
                max-height: 0;
                opacity: 0;
            }

            /* ========== Validation Icons */
            .validation-icons i {
                position: absolute;
                top: 2.35rem;
                right: 1rem;
                opacity: 0;
                transition: all .35s;
            }

                .frm-input:valid ~ .validation-icons .fa-check {
                    opacity: 1;
                    color: #48D97A;
                }

                .frm-input:invalid ~ .validation-icons .fa-xmark {
                    opacity: 1;
                    color: tomato;
                }

        label[for="ipt-hours"] .inputs-block {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 1rem;
        }

        .inputs-block .time-block {
            max-width: 110px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: .25rem;
        }

            .time-block .frm-input::-webkit-outer-spin-button,
            .time-block .frm-input::-webkit-inner-spin-button {
                /* display: none; <- Crashes Chrome on hover */
                -webkit-appearance: none;
                margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
            }

            .time-block .frm-input[type=number] {
                -moz-appearance:textfield; /* Firefox */
            }

        .frm-btn {
            align-self: center;
            transition:
                opacity .4s ease,
                box-shadow .4s ease,
                transform .4s ease
            ;
        }

        .frm-btn:hover {
            opacity: .9;
            box-shadow: 2px 4px 8px rgba(0, 0, 0, .4);
            transform: translateY(-4px);
        }

/* =========== Divisores */
.divider-horizontal {
    width: 300px;
    border-top: 2px solid var(--bege-escuro);
    margin-top: 15px;
    margin-bottom: 35px;
}

.divider-vertical {
    height: 300px;
    border-left: 2px solid var(--bege-escuro);
}

/* =========== Utilidades */
/* Border-Hack */
.border-wrapper {
    background: linear-gradient(145deg, var(--std-border));
    padding: 6px;
}