* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Rokkit", Arial, sans-serif;
}

/* ====================== Galeria */
.grid {
    display: flex;
    flex-wrap: wrap;
}

.image_type1 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 18vw;
    height: 25vh;
    background-size: cover;
}

.image {
    flex-shrink: 0;
    width: 100%;
    height: auto;
}