@import url(colors.css);

:root {
    /* Tamanhos Variáveis */
    --width-container-desktop: 1110px;
    --height-nav-desktop: 100px;
    font-size: 16px;

    /* Utilidades */
    --light-text-color: var(--cinza-claro);
    --dark-text-color: var(--marrom-cafe);
    --basic-text-shadow: 0 4px 8px rgba(0, 0, 0, .16);
    --std-border:
        var(--marrom-cafe) 0%,
        rgba(255, 255, 255, .8) 25%,
        rgba(255, 255, 255, .8) 75%,
        var(--marrom-escuro) 100%;
}

/* ========================= Elementos de Controle da Página */
body {
    background-color: var(--bege-claro);
    /* Sobrescrevendo Cursor Padrão */
    cursor: url("../utils/cat-cursor.cur"), auto;
}

#content {
    position: relative;
    min-height: 100vh;
    min-width: 330px;
    width: 100%;
    overflow-x: hidden;
}

/* ----> Mobile Menu Effect */
#content.active section,
#content.active footer { opacity: .5; }

/* ----> Text Selection Color */
@supports(-moz-appearance: none) { /* Code for Firefox */
    ::-moz-selection {
        color: var(--bege-claro);
        background: var(--bege-escuro);
    }
}

@supports not (-moz-appearance: none) { /* Code for Non-Firefox Browsers */
    ::selection {
        color: var(--bege-claro);
        background: var(--bege-escuro);
    }
}