@import url(global.css);

/* ========================= Navbar */
nav {
    width: 100%;
    background: var(--bege-claro);
}

.navbar_container {
    max-width: var(--width-container-desktop);
    height: var(--height-nav_desktop);
    align-items: center;
    flex: 1 0 auto;
    background: inherit;
    margin: 0 auto;
}

.navbar_container a {
    color: var(--marrom-escuro);
    text-decoration: none;
}

/* navbar_Columns */
.nav_section {
    background: inherit;
    text-shadow: var(--basic-text-shadow);
}

/* --------> Logo-Brand */
.navbar_brand {
    width: 215px;
    height: 80px;
    font-size: 26px;
    font-weight: bold;
    transition: transform .2s ease-in-out;
}

.navbar_brand img {
    width: 80px;
    height: 80px;
    object-fit: fill;
    margin-right: 15px;
}

.navbar_brand .brand-name {
    text-align: left;
    margin-top: 11px;
    color: var(--cinza-claro);
    
    /* Provisório */
    text-shadow:
        2px 0 0 var(--marrom-cafe),
        -2px 0 0 var(--marrom-cafe),
        0 2px 0 var(--marrom-cafe),
        0 -2px 0 var(--marrom-cafe),
        1px 1px var(--marrom-cafe),
        -1px -1px 0 var(--marrom-cafe),
        1px -1px 0 var(--marrom-cafe),
        -1px 1px 0 var(--marrom-cafe);
}

/* Logo Animation */
.navbar_brand:hover { transform: translateY(-4px); }

/* --------> Seção de Links de Navegação */
.navbar_collapse { max-width: 460px; }

/* nav_links */
.navbar_nav {
    width: 100%;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.nav_item {
    width: 100px;
    text-shadow: var(--basic-text-shadow);
}

.nav_item .nav_link { padding: 0.6rem 1.5rem; }
.nav_item .nav_link.active { color: var(--marrom-cafe); }

/* -> Animações nos Elementos da Navbar */
.nav_item,
.nav_item .nav_link,
.nav_tel {
    transition: all .2s ease-in-out;
}

/* Hovering Animations */
.nav_item:hover,
.nav_item:hover .nav_link,
.nav_tel:hover {
    color: var(--marrom-cafe);
    transform: translateY(-4px);
}

/* --------> Seção do Telefone */
.nav_tel {
    max-width: 225px;
    padding: 0.6rem 1.5rem;
    font-size: 18px;
    font-weight: bold;
    text-shadow: var(--basic-text-shadow);
}

.nav_tel .tel-icon { margin-right: 5px; }

/* ========================= Primeira Seção: Sobre o Café */
.section-frame {
    width: 100%;
    padding-top: 120px;
    background: var(--bege-claro);
}

.section-container {
    max-width: var(--width-container-desktop);
    background: inherit;
    margin: 0 auto;
    text-shadow: var(--basic-text-shadow);
}

.section-header {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--bege-escuro);
    margin-bottom: 15px;
}

/* Coluna de Texto - Conteúdo */
#first-section .content-col {
    width: 600px;
    margin-right: 1rem;
}

.content-col .section-caption {
    font-size: 72px;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--dark-text-color);
}

.content-col .section-about {
    font-size: 24px;
    font-weight: 500;
    color: var(--dark-text-color);
    margin-bottom: 50px;
}

.buttons { justify-content: flex-start; }

/* Coluna de Imagem */
#first-section .image-col {
    max-width: 420px;
    height: 650px;
    box-shadow: 4px 2px 6px rgba(0, 0, 0, .16);
}

.image-col .photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Hover-Animation */
#first-section .image-col { transition: transform .4s ease-out; }
#first-section .image-col:hover { transform: translateY(-2rem); }

/* Border-Hack */
.border-wrapper {
    background: linear-gradient(145deg, var(--std-border));
    padding: 6px;
}

/* ========================= Segunda Seção: Sobre o Estabelecimento */
#second-section {
    background: var(--marrom-escuro);
    padding-top: 160px;
    margin-top: -100px;
}

#second-section .section-caption,
#second-section .section-about {
    color: var(--light-text-color);
}

#second-section .image-col {
    max-width: 500px;
    width: 500px;
    height: 650px;
}

#second-section .content-col {
    max-width: 520px;
    margin-left: 15px;
}

/* ========================= Terceira Seção: Nossos Produtos */
#third-section {
    background: var(--bege-claro);
    padding-top: 160px;
    margin-top: -50px;
}

/* ========================= Botão Fixo do WhatsApp */
.fixed-button {
    position: fixed;
    right: 2vw;
    bottom: 4vh;
    background: white;
    border-radius: 50%;
    padding: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all .35s ease-in-out;
}

.fixed-button .button-container {
    display: block;
    position: relative;
    width: 4rem;
    height: 4rem;
    text-decoration: none;
}

.fixed-button .button-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
}

.fixed-button .button-container .cat-icon { margin: auto auto auto -6px; }
.fixed-button .button-container .wpp-icon {
    font-size: 1.25rem;
    color: #0DC143;
    margin: 8px auto auto 44px;
}

/* Animation */
.fixed-button:hover {
    background: var(--cinza-medio);
    transform: translateY(-0.8rem);
}
