@import url(components.css);

/* ========================= Navbar */
nav {
    width: 100%;
    background: var(--bege-claro);
}

.navbar_container {
    max-width: var(--width-container-desktop);
    height: var(--height-nav-desktop);
    align-items: center;
    background: inherit;
    margin: 0 auto;
    gap: calc((100% - 400px - 225px - 210px) / 2);
}

.navbar_container a {
    color: var(--marrom-escuro);
    text-decoration: none;
}

/* navbar_Columns */
.nav_section {
    background: inherit;
    text-shadow: var(--basic-text-shadow);
}

/* --------> Logo-Brand */
.navbar_brand {
    width: 215px;
    height: 80px;
    font-size: 26px;
    font-weight: bold;
    transition: transform .2s ease-in-out;
}

.navbar_brand img {
    width: 80px;
    height: 80px;
    object-fit: fill;
    margin-right: 15px;
}

.navbar_brand .brand-name {
    text-align: left;
    margin-top: 12px;
    color: var(--cinza-claro);
    line-height: 32px;
    
    /* Provisório */
    text-shadow:
        2px 0 0 var(--marrom-cafe),
        -2px 0 0 var(--marrom-cafe),
        0 2px 0 var(--marrom-cafe),
        0 -2px 0 var(--marrom-cafe),
        1px 1px var(--marrom-cafe),
        -1px -1px 0 var(--marrom-cafe),
        1px -1px 0 var(--marrom-cafe),
        -1px 1px 0 var(--marrom-cafe);
}

/* Logo Animation */
.navbar_brand:hover { transform: translateY(-4px); }

/* --------> Seção de Links de Navegação */
.nav_list {
    width: 100%;
    align-items: center;
}

.navbar_collapse { max-width: 400px; }

/* nav_links */
.navbar_nav {
    width: 100%;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.nav_item {
    width: 100px;
    text-shadow: var(--basic-text-shadow);
    text-align: center;
}

.nav_item .nav_link { padding: 0.6rem 1.5rem; }
.nav_item .nav_link.active { color: var(--marrom-cafe); }

/* -> Animações nos Elementos da Navbar */
.nav_item,
.nav_item .nav_link,
.nav_tel {
    transition: all .2s ease-in-out;
}

/* Hovering Animations */
.nav_item:hover,
.nav_item:hover .nav_link,
.nav_tel:hover {
    color: var(--marrom-cafe);
    transform: translateY(-4px);
}

/* --------> Seção do Telefone */
.nav_tel {
    max-width: 225px;
    padding: 0.6rem 1.5rem;
    font-size: 18px;
    font-weight: bold;
    text-shadow: var(--basic-text-shadow);
}

.nav_tel .tel-icon { margin-right: 5px; }

/* --------> Menu Mobile Escondido */
.mobile-menu {
    display: none;
    cursor: url(../utils/cat-pointer.cur), pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--marrom-escuro);
    margin: 8px;
    transition: transform .3s ease-in-out;
}

/* ========== Responsive Rules */
@media screen and (max-width: 1200px) {
    .navbar_container { padding: 0 2rem; }
}

@media screen and (max-width: 999px) {
    .nav_list {
        position: absolute;
        top: var(--height-nav-desktop);
        right: 0;
        width: 50vw;
        height: calc(100vh - var(--height-nav-desktop) * 2.25);
        background: var(--bege-escuro);
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1rem .5rem;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 100;
    }
    
    .nav_item, .nav_tel { opacity: 0; }
    .navbar_nav {
        flex-direction: column;
        gap: 1rem;
    }

    .mobile-menu { display: block; }
    .nav_list.active { transform: translateX(0); }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    .mobile-menu.active .line-01 { transform: rotate(-45deg) translate(-8px, 8px); }
    .mobile-menu.active .line-02 { opacity: 0; }
    .mobile-menu.active .line-03 { transform: rotate(45deg) translate(-5px, -7px); }
}

@media screen and (max-width: 480px) {
    .navbar_container { --height-nav-desktop: 80px; }
    .navbar_brand {
        font-size: 22px;
        height: 60px;
    }

    .navbar_brand img {
        width: 60px;
        height: 60px;
    }

    .navbar_brand .brand-name {
        margin-top: 6px;
        line-height: 28px;
    }

    .navbar_nav { font-size: 18px; }
    .nav_tel {
        font-size: 16px;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
    }
}