/* Meows Font Import */
@font-face {
    font-family: "Meows";
    src: url("../utils/Meows-VGWjy.ttf");
}

* { /* Atualizando valores globais */
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Rokkitt", Arial, sans-serif;
}

/* Font-Meows Class */
.meows-font { font-family: "Meows"; }

/* ----> Overwriting BS a:hover */
a:hover { color: inherit; }

/* Pointer Custom Cursor */
a,
button,
[role="button"],
select,
label,
input { cursor: url("../utils/cat-pointer.cur"), pointer !important; }
