:root {
    /* Variáveis de Cores utilizadas */
    --marrom-cafe: #7D3F20;
    --marrom-escuro: #481D01;
    --bege-claro: #F4EBD0;
    --bege-escuro: #D6AD60;
    --cinza-claro: #EBEDFC;
    --cinza-medio: #C7C7C7;
    --cinza-escuro: #979797;

    /* Tamanhos Variáveis */
    --width-container-desktop: 1110px;
    --height-nav-desktop: 100px;
    font-size: 16px;

    /* Utilidades */
    --light-text-color: var(--cinza-claro);
    --dark-text-color: var(--marrom-cafe);
    --basic-text-shadow: 0 4px 8px rgba(0, 0, 0, .16);
    --std-border:
        var(--marrom-cafe) 0%,
        rgba(255, 255, 255, .8) 25%,
        rgba(255, 255, 255, .8) 75%,
        var(--marrom-escuro) 100%;
}