/* Meows Font Import */
@font-face {
    font-family: "Meows";
    src: url("../utils/Meows-VGWjy.ttf");
}

:root { /* Variáveis de Cores utilizadas */
    --marrom-cafe: #7D3F20;
    --marrom-escuro: #481D01;
    --bege-claro: #F4EBD0;
    --bege-escuro: #D6AD60;
    --cinza-claro: #EBEDFC;
    --cinza-medio: #C7C7C7;
    --cinza-escuro: #979797;
    font-size: 16px;
}

/* Sobrescrevendo Cursor Padrão */
*, [role="button"] { cursor: url("../utils/cursor.cur"), auto; }
* { /* Atualizando valores globais */
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Meows";
}

/* ========================= Elementos de Controle da Página */
body {
    background-color: var(--bege-claro);
    overflow-x: hidden;
}

#content {
    width: 100%;
    min-height: 100vh;
    padding: 0 2rem;
}

/* ========================= Navbar */


/* ========================= Botão Fixo do WhatsApp */
.fixed-button {
    position: fixed;
    right: 2vw;
    bottom: 4vh;
    background: white;
    border-radius: 50%;
    padding: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all .35s ease-in-out;
}

.fixed-button .button-container {
    display: block;
    position: relative;
    width: 4rem;
    height: 4rem;
    text-decoration: none;
}

.fixed-button .button-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
}

.fixed-button .button-container .cat-icon { margin: auto auto auto -6px; }
.fixed-button .button-container .wpp-icon {
    font-size: 1.25rem;
    color: #0DC143;
    margin: 8px auto auto 44px;
}

/* Animation */
.fixed-button:hover {
    background: rgba(0, 0, 0, .1);
    transform: translateY(-0.8rem);
}
